* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: rgb(1, 57, 87);
  align-items: center;
  color: rgb(226, 253, 253);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar a {
  font-size: 20px;
  color: black;
  font-weight: 500;
  margin-left: 30px;
}

.navbar a:hover,
.navbar a.active {
  color: rgb(232, 238, 241);
}

.home {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0 10%;
}

.home-a {
  /* background: rgb(232, 238, 241); */
  max-width: 600px;
}

.home-a h1 {
  font-size: 56px;
  font-weight: 700;
  color: beige;
}

.home-a h3 {
  font-size: 32px;
  font-weight: 700;
  color: rgb(167, 245, 242);
}
